<%- include ('partials/header') %>

<div id="about" class="container">

    <div class="row ">
        <div class="  col-lg-9 p-2 rounded-sm">
            <div class=" card p-md-2  mt-0" style="max-width: 100%;">
                <div id="aboutHeader" class="row no-gutters">
                    <div class="img-container col-5 col-lg-3 d-flex align-items-center">
                        <img src="/images/about.jpg" class="card-img pt-1">
                    </div>
                    <div class="col-7 col-lg-9 d-flex align-items-center">
                        <div class="card-body py-0 py-md-1">
                            <h2 class="mb-0">Tim Dorgan</h2>
                            
                            <p class=" card-text mb-1"><small class="text-muted">The "Pod Walker"</small></p>
                            <a href="https://www.facebook.com/illinitim"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row py-3 no-gutters">
                    
                    <p>     The idea for this blog sprung from the intersection of several events, all tied to my retirement a
                        few years ago. I was faced with the dilemma that many retirees face;, what to do with the huge
                        amount of time that was, all of a sudden, on my hands. I had a few hobbies that I was going to
                        continue to pursue, but they still left a pretty sizable gap in my day which generally ran from 6A
                        until 10P (albeit with a nap conveniently wedged in the afternoon).
                    </p>
                    <p>
                        This new “time pressure” coincided with the growing (no pun intended) realization that I was
                        about 30-40 pounds heavier than I should be and my “vitals” were creeping into areas in which
                        the word “borderline” was becoming a more frequent part of my doctor’s vocabulary.
                        The final contributing ingredient to this podcast was my growing aversion to the sound-bite,
                        “breaking news”, breathless reporting of “news” that typified the news programming that I had
                        come to rely on. Must every story be “breaking”? Was only the tip of any given iceberg worth
                        covering? And could I only find cable programming that kissed my ass, or kicked it...depending
                        on what I was in the mood for. I was thirsty for some more balanced content that was a better
                        match for my available time and for my desire to learn more about what’s down in the weeds.
                        
                    </p>
                    <p>
                        My solution to these converging issues came in the form of a rapidly growing media form known
                        as the podcast. As evidenced by the chronology on my favorite podcast management
                        app...PODCRUNCHER...my first podcast subscription was to a brand new(at the time) podcast
                        called West Wing Weekly (WWW). I read about it online and, given my reverence for the West
                        Wing TV show, I couldn’t resist. That podcast, which I’ll get into in detail in subsequent blogs,
                        hooked me on this media form. It was not time constrained, it provided in-depth information on a
                        topic in which I was interested and it was, generally, unbiased...at least at the outset. My
                        experience with WWW opened up the world of podcasts for me. 
                        
                    </p>
                    <p>I began researching and
                        subscribing to podcasts across a variety of topical areas...music, sports, politics, history, etc.
                        There was, and is, a podcast for whatever interests you. In fact, at last count, there are now
                        more than 700,000 podcasts currently posted in the US, with more launching every day.
                        What I also discovered is that despite the number of available podcasts, many people had not
                        yet tried this new medium on for size. As I told my friend of my new found affinity for the
                        podcast, the typical response was…”I’ve heard about them, but I just haven’t had the time to
                        figure out how to listen to one”...or, “It sounds too technical”.
                    </p>
                    <p>
                        So, I thought it might be useful if someone, with time on their hands, could listen to many of
                        these podcasts and provide a Readers Digest recap of some of the better ones.
                        That explains the “POD” part of the name for this blog. The second part is very straightforward.
                        With an artificial hip and many other twinges of arthritis, I found that going on long, relatively
                        fast-paced walks, was going to be my best bet for attacking my weight loss goals. Of course,
                        limiting myself to only one Lou Malnati’s deep dish pizza a month was going to contribute as well.
                    </p>
                    <p>  
                        The great thing about long walks is that I could do them anytime, any place and they
                        provided hours-long opportunities to sample the best podcasting had to offer.
                        Pod Walking has become a way to feed my hunger for information while suppressing my
                        appetite for Wavy Lay’s. A true win-win. Since I began this initiative, I’ve lost 45 pounds and
                        listened to hundreds of podcasts. And, based on the interest my friends have shown in my
                        descriptions of my walks and the podcasts I listen to, I decided to combine them into a weekly
                        blog.
                    </p>
                    <p>
                        I look forward to sharing my listening and roaming habits with you and I encourage your input,
                        particularly regarding podcasts I should try and walks I should take.
                        Thanks in advance for reading and walking vicariously along with me.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include ('partials/footer') %>