<%- include ('partials/header') %>

<div class="container">
    <h3 class="pt-3">Playlists</h3>
    <div class="row" style="display: flex; flex-wrap: wrap;">

        <% blogs.forEach(function(blog){ %>
        <div class="col-lg-4 col-md-6 rounded-sm">
            <div>
                <%-blog.playlist%>
            </div>
        </div>
        <%}); %>
    </div>
</div>
</div>

<%- include ('partials/footer') %>